@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 20px;
    @apply bg-[#fbf7f4]
}

#root{
    height: calc(100vh - 40px);
    border-radius: 10px;
    @apply ml-[300px] bg-white
}
